body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

.dashboard-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.btn-claim {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
  border: none;
  text-align: center;
  transition: background 0.2s;
}
.btn-claim:hover,
.btn-claim:focus {
  background-color: #0056b3;
  color: #fff;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  /* margin-top: 10px; */
}


