body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}


.container {
  background: white;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.result {
  margin-top: 20px;
  padding: 15px;
  background-color: #e9f7ef;
  border-left: 5px solid #28a745;
  display: none;
}

.back-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  text-align: center;
}

.back-button:hover {
  background-color: #5a6268;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
 
}

/* Hamburger button styling */
.nav-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}



.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

